a {
  text-decoration: none;
}
.wrapper { 
  position: relative;
  width: 100%;
}

.body-wrapper {
  position: relative;
  display: flex;
}

.inner {
  flex-grow: 1;
}

.nav-bar {
  padding: 0.9rem;
  background-color: #fff;
  top: 0;
  transition: top 0.2s;
  transform: translate3d(0, 0, 0);
}

.hide {
  top: -100vh;
}

.nav-item {
  padding: 0.8rem 1rem;
  margin: 0 1rem;
  color: black!important;
}

.nav-item.active {
  padding: 0.8rem 1rem;
  background-color: #c39638;
  color: #fff!important;
}

@media screen and (max-width: 991px) {
  .menu-links {
    margin-top: 15px;
  }
}