#app {
  position: relative;
}

.app-title {
  font-weight: 600;
}

.app-socmed-icons {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (max-width: 480px) {
  .app-form {
    width: 100%;
  }

  .app-btn-form-wrapper {
    margin-top: 20px;
  }
}