#app {
  position: relative;
}

.app-title {
  font-weight: 600;
}

.app-socmed-icons {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.form-check-input:checked {
  background-color: #f19150 !important;
  border-color: #f19150 !important;
}

.partner-img {
  width: 17%;
}

@media (max-width: 480px) {
  .app-form {
    width: 100%;
  }

  .app-btn-form-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .app-btn-form-wrapper .btn,
  .app-input-wrapper input {
    border-radius: 5px !important;
  }

  .partner-img {
    width: 25%;
  }
}

#app-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
