.container-program {
  text-align: left;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 1.5rem;
  border-radius: 5px;
}

.program-headers {
  text-align: left;
  width: 100%;
  padding: 20px;
}

.program-body {
  margin-top: 1rem;
}

.time-txt {
  text-decoration: underline #bc9849;
  text-underline-offset: 10px;
}

.sched-txt {
  text-align: center;
  margin-top: 5px;
}

.spkr-txt  {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .sched-txt, .spkr-txt {
    text-align: left;
    margin-top: 0px;
  }
}